:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.content h3 {
  margin: 18px 0 0;
}
.content:hover {
  box-shadow: inset 0 0 10px 5px #0405148c;
  transition: box-shadow 0.5s;
}
.content {
  margin-top: 100px;
  transition: box-shadow 0.5s;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #4f55bac1;
  box-shadow: inset 0 0 0px 0px #0405148c, 0 0 40px 1px rgba(19, 74, 255, 0.098);
  min-width: 350px;
  max-width: 20vw;
}

button {
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 1px 1px #f9f9f922;
}
button:hover {
  border-color: #646cff;
}

.egg::before {
  display: inline-block;
  content: "\1F95A";
  padding-right: 10px;
  text-decoration: none !important;
}
.cross::before {
  display: inline-block;
  content: "\274C";
  padding-right: 10px;
  text-decoration: none !important;
}

.app {
  width: 100%;
}

.flexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

h4 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
