:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select:focus,
input:focus {
  border-color: #646cff;
  outline: none;
}

input,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 1px 1px #f9f9f922;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 1px 1px #f9f9f922;
}
button:hover {
  border-color: #646cff;
}

.content {
  margin-top: 100px;
  transition: box-shadow 0.5s;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #4f55bac1;
  box-shadow: inset 0 0 0px 0px #0405148c, 0 0 40px 1px rgba(19, 74, 255, 0.098);
  min-width: 350px;
  max-width: 20vw;
}

.content:hover {
  box-shadow: inset 0 0 10px 5px #0405148c;
  transition: box-shadow 0.5s;
}

.recipeDiv h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.ingredient:hover {
  cursor: default;
}
.ingredientOnEdit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.egg::before {
  display: inline-block;
  content: "\1F95A";
  padding-right: 10px;
  text-decoration: none !important;
}
.cross::before {
  display: inline-block;
  content: "\274C";
  padding-right: 10px;
  text-decoration: none !important;
}

.recipeDiv,
.ingredientDiv {
  text-align: left;
  padding-left: 20px;
  width: fit-content;
}

.app {
  width: 100%;
}

.flexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

.addIngredient {
  text-align: left;
  padding: 20px 0 0 20px;
}

.addIngredient:before {
  display: inline-block;
  content: "✅";
  padding-right: 10px;
  text-decoration: none !important;
}

.showbox {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 400px;
  min-height: 700px;
  transform: translate(-50%, -50%);
  padding: 50px 50px;
  border-radius: 15px;
  border: 1px solid #4f55bac1;
  background: rgb(44, 44, 44);
  background: linear-gradient(45deg, #3c3c3c 0%, #2c2c2c 100%);
  box-shadow: 0 0 50px 1px rgba(19, 74, 255, 0.098);
}
.showbox .ingredient {
  padding-left: 50px;
  text-align: left;
  margin: 0;
}
.overlay {
  position: absolute;
  filter: invert(blur(50px));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.276);
}
h4 {
  margin: 0;
}
.showbox h3 {
  margin: 50px 0 0 0;
}
h2 {
  margin-bottom: 50px;
}

.showbox .ingredient::before {
  display: inline-block;
  content: "\1F95A";
  padding-right: 10px;
  text-decoration: none !important;
}
#name {
  width: 80px;
  margin-right: 7px;
}
#amount {
  width: 50px;
  margin-right: 7px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
