select:focus,
input:focus {
  border-color: #646cff;
  outline: none;
}
.ingredient:hover {
  cursor: default;
  text-decoration: none;
}
.ingredientOnEdit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ingredientDiv {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  padding-left: 20px;
  width: fit-content;
}
.addIngredient {
  text-align: left;
  padding: 20px 0 0 20px;
}
h2 {
  margin-bottom: 50px;
}
.added::before {
  display: inline-block;
  content: "➕";
  padding-right: 10px;
  text-decoration: none !important;
  color: transparent;
  text-shadow: 0 0 0 green;
}

#name {
  width: 80px;
}
#amount {
  width: 50px;
}
