h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.recipeDiv {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  padding-left: 20px;
  width: fit-content;
}
h2 {
  margin-bottom: 50px;
}
h3 {
  margin: 18px 0 0;
}
.addRecipeButton {
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 1px 1px #f9f9f922;
  margin-right: 10px;
}
